In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

names = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship',
         'race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']

data = pd.read_csv('adult.csv',header = None, names = names)

df = data[['age','sex','hours-per-week','education','income']]

df.info()

df.describe()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 5 columns):
age               32561 non-null int64
sex               32561 non-null object
hours-per-week    32561 non-null int64
education         32561 non-null object
income            32561 non-null object
dtypes: int64(2), object(3)
memory usage: 1.2+ MB

   age      sex  hours-per-week   education  income
0   39     Male              40   Bachelors   <=50K
1   50     Male              13   Bachelors   <=50K
2   38     Male              40     HS-grad   <=50K
3   53     Male              40        11th   <=50K
4   28   Female              40   Bachelors   <=50K

In [3]:
from sklearn.tree import DecisionTreeClassifier

X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

tree = DecisionTreeClassifier(criterion = 'gini',
                              random_state = 1, max_depth = 5)

tree.fit(X,y)

ValueError: could not convert string to float: ' Male'

In [6]:
data_dummies = pd.get_dummies(df)#, drop_first = True)
data_dummies.head()

,age,hours-per-week,sex_ Female,sex_ Male,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,...,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,income_ <=50K,income_ >50K
0,39,40,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,50,13,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,38,40,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,53,40,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,40,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [7]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 22 columns):
age                        32561 non-null int64
hours-per-week             32561 non-null int64
sex_ Female                32561 non-null uint8
sex_ Male                  32561 non-null uint8
education_ 10th            32561 non-null uint8
education_ 11th            32561 non-null uint8
education_ 12th            32561 non-null uint8
education_ 1st-4th         32561 non-null uint8
education_ 5th-6th         32561 non-null uint8
education_ 7th-8th         32561 non-null uint8
education_ 9th             32561 non-null uint8
education_ Assoc-acdm      32561 non-null uint8
education_ Assoc-voc       32561 non-null uint8
education_ Bachelors       32561 non-null uint8
education_ Doctorate       32561 non-null uint8
education_ HS-grad         32561 non-null uint8
education_ Masters         32561 non-null uint8
education_ Preschool       32561 non-null uint8
education_ Prof-school     32561 non-null uint8
education_ Some-college    32561 non-null uint8
income_ <=50K              32561 non-null uint8
income_ >50K               32561 non-null uint8
dtypes: int64(2), uint8(20)
memory usage: 1.1 MB

In [8]:
data_dummies = pd.get_dummies(df, drop_first = True)
data_dummies.head()

,age,hours-per-week,sex_ Male,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,income_ >50K
0,39,40,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,50,13,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,38,40,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,53,40,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,28,40,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [9]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 19 columns):
age                        32561 non-null int64
hours-per-week             32561 non-null int64
sex_ Male                  32561 non-null uint8
education_ 11th            32561 non-null uint8
education_ 12th            32561 non-null uint8
education_ 1st-4th         32561 non-null uint8
education_ 5th-6th         32561 non-null uint8
education_ 7th-8th         32561 non-null uint8
education_ 9th             32561 non-null uint8
education_ Assoc-acdm      32561 non-null uint8
education_ Assoc-voc       32561 non-null uint8
education_ Bachelors       32561 non-null uint8
education_ Doctorate       32561 non-null uint8
education_ HS-grad         32561 non-null uint8
education_ Masters         32561 non-null uint8
education_ Preschool       32561 non-null uint8
education_ Prof-school     32561 non-null uint8
education_ Some-college    32561 non-null uint8
income_ >50K               32561 non-null uint8
dtypes: int64(2), uint8(17)
memory usage: 1.0 MB

In [10]:
X = data_dummies.iloc[:,:-1].values
y = data_dummies.iloc[:,-1].values

tree = DecisionTreeClassifier(criterion = 'gini',
                              random_state = 1, max_depth = 5)

tree.fit(X,y)

print('score:', tree.score(X,y))

score: 0.7876907957372317

In [13]:
import graphviz
from sklearn.tree import export_graphviz
from pydotplus import graph_from_dot_data

In [14]:
dot_data = export_graphviz(tree, filled = True,
                           rounded = True,
                           class_names = data_dummies.iloc[:,-1].name,
                           out_file = None)

graph = graph_from_dot_data(dot_data)
graph.write_png('tree.png')

True